@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
    font-size: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .rotate {
    transform: rotate(180deg);
  }

  .bshadow {
    box-shadow: 0 2px 0 0 rgba(38, 41, 48, 0.08) ;
  }

  .bshadow2 {
    box-shadow: 0 13px 15px 2px rgba(38, 41, 48, 0.2) ;
  }

  .imgshadow {
    box-shadow: 0 24px 48px -12px rgba(16, 24, 40, 0.18);
  }

  .headerBorder {
    border: 1px solid #EEE;
  }

  .tel-hidden {
    visibility: hidden;
    transition: 300ms;
    background: transparent;
  }

  .tel:hover .tel-hidden {
    visibility: visible;
    display: inline;
    @apply bg-buttonbg;
  }
}
